.game {
    width: 1200px;
    height: 600px;
    background: #b3dbd3;
    border-bottom: 10px solid #000;
    margin: auto;
    }

    .timer {
        this.gameTime = 0;
        this.timeLimit = 20 * 1000;
    }

    #girl {
    width: 80px;
    height: 80px;
    background-image: url(img/girl.png);
    background-size: 80px 80px;
    position: relative;
    top: 520px;
       }

       #cloud {
        width: 110px; /*Ширина*/
        height: 120px; /*высота*/
        background-image: url(img/cloud.png);
        background-size: 110px 120px;
        position: relative;
        top: 5px; /*на какой высоте летит облако*/
        left: 1580px;
        animation: cloudMov 10s infinite linear;} /*скорость облока*/

       #crow {
        width: 30px; /*Ширина*/
        height: 40px; /*высота*/
        background-image: url(img/crow.png);
        background-size: 30px 40px;
        position: relative;
        top: 5px; /*на какой высоте летит ворона*/
        left: 1880px;
        animation: crowMov 4s infinite linear;} /*скорость вороны*/


       #beet {
        width: 70px;
        height: 90px;
        background-image: url(img/beet.png);
        background-size: 70px 90px;
        position: relative;
        top: 280px; 
        left: 780px;
        animation: beetMov 6s infinite linear; /*скорость свеклы*/
    }


    @keyframes cloudMov {
        0% {
            left: 1100px; /*на каком расстоянии справа начнет лететь ворона*/
        }
        100% {
            left: -10px;
        }
       }

    @keyframes crowMov {
     0% {
         left: 1100px; /*на каком расстоянии справа начнет лететь ворона*/
     }
     100% {
         left: -10px;
     }
   
    }
               
                                                /*Движение свеклы*/
               @keyframes beetMov {
                0% {
                    left: 1100px;
                }
                100% {
                    left: -20px;
                }

               }

               .jump {
                    animation: jump 0.4s linear;
               }

                @keyframes jump {
                    0% {
                        top: 130px;  
                    }
                    30% {
                        top: 110px;
                    }
                    50% {
                        top: 60px;
                    }
                    80% {
                        top: 110px; 
                    }
                    100% {
                        top: 130px;
                    }
               }
            
              