    .game {
    width: 1170px;
    height: 900px;
    background-image: url("img/field.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    border: 4mm ridge rgba(236, 247, 36, 0.514);
     }

         
    .text {  
        width: 50%;
        height: 50%;
        font: small-caps bold 24px/1 sans-serif; /*Жирное начертание */
        text-align: center;  Текст в центре 
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Отступы */
        color: #0a0329; /* Цвет текста */
        background: #bad34c; /* Цвет фона */ 
     

}

    .audio {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
}



    #girl {
    width: 120px;
    height: 120px;
    background-image: url(img/girl.png);
    background-size: 120px 120px;
    position: relative;
    top: 770px;
       }

       #cloud {
        width: 240px; /*Ширина*/
        height: 200px; /*высота*/
        background-image: url(img/cloud.png);
        background-size: 240px 200px;
        position: relative;
        top: 2px; /*на какой высоте летит облако*/
        animation: cloudMov 10s infinite linear;} /*скорость облока*/

       #crow {
        width: 30px; /*Ширина*/
        height: 40px; /*высота*/
        background-image: url(img/crow.png);
        background-size: 30px 40px;
        position: relative;
        top: 5px; /*на какой высоте летит ворона*/
        left: 1880px;
        animation: crowMov 4s infinite linear;} /*скорость вороны*/

       #beet {
        width: 140px;
        height: 180px;
        background-image: url(img/beet.png);
        background-size: 140px 180px;
        position: relative;
        top: 360px; 
        left: 600px;
        animation: beetMov 6s infinite linear; /*скорость свеклы*/
        
    }


    @keyframes cloudMov {
        0% {
            left: 1100px; /*на каком расстоянии справа начнет лететь */
        }
        100% {
            left: -10px; /*до какого расстоянии справа летит ворона*/
        }
       }

    @keyframes crowMov {
     0% {
         left: 1100px; /*на каком расстоянии справа начнет лететь ворона*/
     }
     100% {
         left: -10px;
     }
   
    }
               
                                                /*Движение свеклы*/
               @keyframes beetMov {
                0% {
                    left: 1100px;
                }
                100% {
                    left: -20px;
                }

               }

               .jump {
                    animation: jump 0.4s linear;
               }

                @keyframes jump {
                    0% {
                        top: 130px; 
                                         }
                    30% {
                        top: 110px;
                                           }
                    50% {
                        top: 60px;
                                      }
                    80% {
                        top: 110px; 
                                           }
                    100% {
                        top: 130px;
                                   }
               }
            
              